/********************************************
   HTML ELEMENTS
********************************************/

* { margin: 0; padding: 0; border: 0 }

body {
	background: #FFFFFF;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #666666;
	text-align: center;
	margin: 15px 0;
}

a, a:visited {
	font-weight:bold;
	color: black;
	background: inherit;
	text-decoration: none;
}
a:hover {
	color: #00AE36;
	background: inherit;
	text-decoration: underline;
}

h1, h2, h3 {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold;
}
h1 {
	font-size: 160%;
	font-weight: normal;
}
.center {
	text-align:left;
	background: #800080;
	height: 30px;
	padding: 0px 0px 0px 10px;
	text-transform:capitalize;
	font: bold 12px/2.8em "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
        #text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;

}

h2 {
	font-size: 130%;
	text-transform: uppercase;
	color: #88ac0b;
}
h3 {
	font-size: 130%;
}

h1, h2, h3, p {
	padding: 10px;
	margin: 0;
}
p {
	padding:5px;
}

ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
}

/* images */
img {
	background: #AEAAAA;
   	border: 1px solid #DCDCDC;
	padding: 4px;
}
img.float-right {
  	margin: 5px 0px 10px 10px;
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

/* form elements */
form {
	margin:5px; padding: 0 5px;
	border: 1px solid #D5D5D5;
    color:800080;
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding:2px;
	border:1px solid #800080;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}



/* search form */
.searchform {
	background-color: transparent;
	border: none;
	margin: 0; padding: 5px 0 15px 0;
	width: 190px;
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox {
	width: 120px;
	color: #777;
	height: 18px;
	padding: 2px;
	border: 1px solid #E5E5E5;
	vertical-align: top;
}
.searchform input.button {
	width: 60px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
}

/********************************************
   LAYOUT
********************************************/
#wrap {
	position: relative;
	width: 820px;
	background: #FFFFFF;
	margin: 0 auto;
	text-align: left;
}
#top-bg {
   	position: absolute;
	width: 820px;
	height: 19px;
	background: #FFFFFF;
	top: 0; left: 0;
	z-index: 2;
}
#content-wrap {
	position: relative;
	clear: both;
	float: left;
	width: 790px;
	padding: 0;
	background: #FFFFFF;
	border-top: 5px solid #FFF;
	border-bottom: 2px solid black;
	margin-left: 15px;
	display: inline;
}
#header {
	width: 790px;
	position: relative;
	height: 128px;
	background: #FFFFFF url(../images/logo.gif) no-repeat left center;
	padding: 0;
	color: #FFF;
	margin-left:15px;
}
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 36px 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -1px;
	color: #AEAAAA;
	text-transform: none;
	text-decoration: none;
	top: 25px; left: 30px;
}
#header h1#logo-text span {
	color: #899D00;
}
#header h2#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: normal 12px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #838181;
	top: 67px; left: 95px;
}

/* header links */
#header #header-links {
	position: absolute;
	top: 0px; right: 10px;
	color: #838181;
	font-size: 10px;
}
#header #header-links a {
	color: #838181;
	text-decoration: none;
}
#header #header-links a:hover {
	color: #444;
}

#header-slogan {
	position:absolute;
	top:30px;
	right:20px;
	float:right;
	font-size:30px;
	width:300px;
	color:black;
	text-align:right;
	height:80px;
}
#header-slogan p {
	line-height:22px;
}
/* Navigation */
#nav {
	clear: both;
	padding: 0;
}
#nav ul {
	float: left;
	list-style: none;
	background: #00AE36;
	width: 790px;
	#text-transform: uppercase;
	margin: 0 0 0 15px;
	padding: 0;
	display: inline;
}
#nav ul li {
	display: inline;
	margin: 0; padding: 0;
}
#nav ul li a {
	display: block;
	float: left;
	width: auto;
	margin: 0;
	padding: 0 11px;
	background: #00AE36;
	border:right:1px solid white;
	border-left: 1px solid white;
	border-bottom: none;
	color: #FFF;
	font: bold 12px/2.8em "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	#text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
#nav ul li a:hover,
#nav ul li a:active {
	background: #800080;
}
#nav ul li#current a {
	background: #800080;
}

/* Main Column */
#main, #mainfull {
	float: left;
	width: 450px;
	padding: 0; margin: 10px 0 0 10px;
	display: inline;
}
#mainfull {
	width:97%;
}
#main h1 {
	margin-top: 10px;
	font: normal 1.6em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #00AE36;
	padding: 5px 0 5px 5px;
}

#sidebar ul.sidemenu li a:hover {
        color: #00AE36;
}

/* Sidebar */
#sidebar {
	float: right;
	width: 180px;
}
#sidebar h1 {
	margin-top: 10px;
	padding: 5px 5px;
	font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #00AE36;
}
#sidebar h2 {
	color:white;
}
#sidebar ul {
	margin: 5px 5px 5px 0px;
	padding:0;
}
#sidebar li {
	list-style-type:none;
	padding-bottom:10px;
}

* html body #sidebar ul.sidemenu li {
	height: 1%;
}


/* bottom */
#footer-bottom {
	clear: both;
	color: #666;
	margin: 0 auto;
	width: 820px;
	padding: 0px;
	text-align: center;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }


